@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

$primary-color: #131086;
$secondary-color: #b621f3;

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(45deg, $primary-color, $secondary-color);
    padding: 40px;
}

.container {
    min-height: calc(100vh - 40px * 2);
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 10px;
    overflow: hidden;
}

.login-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
    background-color: white;
}

.login-right {
    background-color: #eeeeee;
    display: flex;
    justify-content: center;

    img {
        width: 80%;
    }
}

.login-header {
    margin-bottom: 50px;

    h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    p {
        opacity: .7;
    }
}

.login-form {
    width: 450px;

    &-content {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    &-footer {
        display: flex;
        gap: 30px;
        margin-top: 70px;

        a {
            flex: 6;
            gap: 15px;
            border-radius: 100px;
            padding: .6rem;
            justify-content: center;
            border: 1px solid black;
            display: flex;
            align-items: center;
            color: black;
            text-decoration: none;

            &:hover {
                background-color: #eeeeee;
            }
        }
    }
}

.form-item label:not(.checkboxLabel) {
    display: inline-block;
    background-color: white;
    margin-bottom: 10px;
    position: absolute;
    padding: 0 10px;
    transform: translate(30px, -10px);
    font-size: 14px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    border: 1px solid black;
    outline: none;
    height: 55px;
    padding: 0 2rem;
    border-radius: 100px;
    width: 100%;
    transition: background .5s;
    font-size: 18px;

    &:focus {
        border-color: $primary-color;
    }
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 7px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: $primary-color;
}

button {
    border: none;
    background: linear-gradient(45deg, $primary-color, $secondary-color);
    color: white;
    padding: 1rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    height: 55px;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 1350px) {
    .login-left {
        padding: 50px !important;
    }

    .login-form {
        width: 100%;

        &-footer {
            flex-direction: column;
            gap: 15px;
        }
    }
}

@media (max-width: 768px) {
    body {
        padding: 20px;
    }

    .container {
        grid-template-columns: auto;
    }

    .login-right {
        display: none;
    }
}